<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <%- include('../partials/header.ejs') %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../components/navbar.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>