<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title>Error</title>
</head>
<body>
    <div class="text-center">

        <% if(error) {%>
            <div class="container">
                <strong style="color: red;">Error</strong>
                <p>
                    <%= error.message %>
                </p>
            </div>    
        <% } %>

        <img class="img-fluid" width="300" height="300" src="/public/error.png" />
        <h3>Sorry, we had some technical problems during your last operation.</h3>
        <p>Please try again later.</p>
        <p><a href="/">back to home</a></p>

        
    </div>
</body>
</html>