<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/static/css/login-reg.css" />
</head>

<body class="Background">
    <div class="Border">
        <h1 class="Header">Sign Up</h1>
        <br>
        <br>
        <div class="TextBox">
            <div id="alertBlock">
            </div>
            <input type="text" id="username" placeholder=" Username " class="InputBox" />
            <input type="password" id="password" placeholder=" Password " class="InputBox" />
            <input type="password" id="comfirmpassword" placeholder="Comfirm Password " class="InputBox" />
            <input type="email" id="email" placeholder=" Email " class="InputBox" />
            <input type="text" id="phone" placeholder=" Phone Number " class="InputBox" />
            <div>
                <button class="SignUpButton" id="submitBtn">Sign Up</button>
            </div>
        </div>

    </div>
    <script defer>

        const validation = (data) => {
            let failList = [];
            const regexExp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/gi;

            if (!data.username) {
                failList.push({ message: "Username is empty" });
            }
            if (!data.password) {
                failList.push({ message: "Password is empty" });
            }
            if (!data.comfirmPassword) {
                failList.push({ message: "Comfirm Password is empty" });
            }
            if (!data.email) {
                failList.push({ message: "Email is empty" });
            }
            if (!data.phone) {
                failList.push({ message: "Phone number is empty" });

            }

            let isEmail = regexExp.test(data.email);
            if (!isEmail) {
                failList.push({ message: "Incorrect Email." })
            }

            var passwordRegex = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
            let isPasswordSecured = passwordRegex.test(data.password);
            if (!isPasswordSecured) {
                failList.push({ message: "Password has to at least 8 letters with at least a symbol, upper and lower case letters and a number." })
            }

            let isPasswordMatched = data.comfirmPassword === data.password
            if (!isPasswordMatched) {
                failList.push({ message: "Password miss match." })
            }

            let isPhoneNumberCurrect = data.phone.length == 10;
            if (!isPhoneNumberCurrect) {
                failList.push({ message: "Incorrect Phone number." })
            }

            return failList;
        }

        const submit = document.querySelector('#submitBtn');
        submit.addEventListener('click', async (e) => {
            const failBlock = document.querySelector('#alertBlock');
            failBlock.innerHTML = ''

            const username = document.querySelector("#username").value;
            const email = document.querySelector("#email").value;
            const phone = document.querySelector("#phone").value;
            const password = document.querySelector("#password").value;
            const comfirmPassword = document.querySelector("#comfirmpassword").value;

            const data = {
                username, email, phone, password, comfirmPassword
            }

            const failList = validation(data);

            // console.log(failList)
            if (failList.length >= 1) {

                failList.forEach(fail => {

                    const alert = document.createElement('div');
                    alert.classList.add('alert');
                    alert.innerHTML = fail.message;
                    failBlock.appendChild(alert);
                })
                return
            } else {
                e.preventDefault();

                fetch('/auth/signup', {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: username.toString(), 
                        email: email.toString(), 
                        phone_number: phone.toString() , 
                        password: password.toString()
                    })
                })
                .then(response => response.json())
                .then( response => {
                    // console.log(response)
                    if(response.status != "success"){
                        alert(response.message)
                    }else{
                        alert("success")
                        window.location.href = '/auth/signin?username='+ username.toString()
                    }    
                    
                
                })
            }
        }); 
    </script>
</body>

</html>