<html lang="en">
<head>
    <title>index</title>
    <%- include('./partials/header.ejs') %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('./components/navbar.ejs') %>
        <div class="container mt-3 mb-5">
            <div class="d-none d-lg-block">
                <div class="container-fluid row ">

                    <div class="col-4 px-3 mx-auto">
                        <div class="card">
                            <img class="card-img-top" src="/public/assets/Thumbnail2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Are you hungry?</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="/menu" class="btn btn-primary">menu</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 px-3 mx-auto">
                        <div class="card">
                            <img class="card-img-top" src="/public/assets/Thumbnail1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">My orders</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="/user/orders" class="btn btn-primary">My order</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 px-3 mx-auto">
                        <div class="card">
                            <img class="card-img-top" src="/public/assets/Thumbnail3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Our story</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="/about" class="btn btn-primary">About us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container w-100 d-lg-none">

                <div class="jumbotron">
                    <h1 class="display-4">Are you hungry?</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention
                        to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/menu" role="button">See menu</a>
                    </p>
                </div>

                <div class="jumbotron">
                    <h1 class="display-4">Your Order's status</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention
                        to featured content or information.
                    </p>
                    <hr class="my-4" />
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/user/orders" role="button">Check your order</a>
                    </p>
                </div>

                <div class="jumbotron">
                    <h1 class="display-4">Our story</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention
                        to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
                    </p>

                </div>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>
</body>

</html>