<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <%- include('../partials/header.ejs') %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../components/navbar.ejs') %>
        <div class="container-fluid mt-4 mx-auto w-75">
        </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>